@media screen and (max-width: 768px) { 
    footer {
        flex-direction: column;
        margin: auto;
        margin-top: 270px;
        flex-wrap: nowrap;
    }
    html {
        overflow-x: hidden;
    }
    body {
       margin: auto;
        width: auto;
        overflow-x: hidden;
    }
    h1 
    {
        font-size: 20px;
    }
    #bloc_page {
    width: auto;
    }

    section
    {
        align-content: center;
        width: auto;
    }
    header
    {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-bottom: 70px;
        margin-left: -100px;
        width: 100%;
    }
    main 
    {
        max-width: 100%;
        margin: auto;
    }
    .liste_a_propos {
        
        flex-wrap: wrap;
        margin-right: 10px;
    }
    .Assistance {
        display: inline;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .a_propos 
    {
        margin-left: 10px;
    }
    .Nos_hebergements {
        margin-top: 20px;
        margin-left: 10px;
    }
    .menu_reservia
    {
        position: relative;
    }  
    #menu
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 1px;
        padding-bottom: 10px;   
    }
    .hebergement_menu
    {
        position: absolute;
        margin-top: 40px;
        margin-left: -150px;
        padding-top: 10px;
        color: #0065fc;
        border-bottom: solid #0065fc;
        border-bottom-width: 5px;
        padding-left: 60px;
        padding-right: 40px;
    }
    .Activites_menu
    {
        position: absolute;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 50px;
        border-bottom-width: 50px;
        color: grey;
        border-bottom: solid #F2F2F2;
        border-width: 5px;
        padding-right:70px;
        padding-left: 50px;
    }
    .inscription
    {
        position: absolute;
        padding-top: 10px;
        padding-bottom: 30px;
        margin-left:270px ;
    }    
    .logo_reservia
    {
        margin-left: 100px;
    }
   .inscription
   {
       display: flex;
   }
/*bouton_recherche*/
.recherche_ville
{
    justify-content: center;
    align-items: center;
}
.debut
{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#carte
{
    display: inline;
    width: 1px;
    height: 50px;
}
.fas.fa-search
{
    display: inline-block;
    color:white;
    background-color: #0065fc;
    padding: 12px;
    border-radius: 15px;
}
.bouton
{
    display: none;
}
/*filtres*/
.boxfiltres {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
}
.icone
{
    display: flex;
    margin-bottom: -62px;
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px; 
}
.titre_filtre
{
    padding-right: 20px;
}
  /*activites*/
  #conteneur_3 {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-content: center;
    justify-content: center;
    margin-left:10px ;
    margin-right: 10px;  
  }
  .conteneur_2 {
    display: flex;

  }
  .conteneur_1 {
    display: flex;
    flex-direction: column;  
  }
 .verti_marseille_1{
    height: 160px;
 }
  .vertical {
    height: 100px;
    width: 100%;
  }
 .activ_1 {
    height: 0px;
    margin-bottom: 180px;
    width: 100%;  
  }
  .activ_2
  {
    width: 100%;
    height: 100px;
    margin-bottom: 240px;
  }
  .horizontal_1
  {
    height: 100px;
    margin-bottom: 0;
  }
  .hori_marseille_2
  { 
    margin-bottom: 70px;
  }
.hori_marseille_1
{
    height: 100px;
    margin-bottom: 70px; 
}
  .activ_3 {
    margin-bottom: 5px;
    width: 100%;
    margin-right: 15px;
  }
.verti_marseille_3
{
    width: 100%;
}
.activ_4
  {
    width: 100%;
    height: 100px; 
  }
.horizontal_1
  {
    width: 100%;
  }
.horizontal_2
  {
    width: 100%;
  }
.hori_marseille_5
  {
    width: 100%;
  }
.hori_marseille_4{
    margin-bottom:10px;
 }
  /*plus populaires*/
.conteneur_2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    width: 100%;
    justify-content: center;
    align-items: center;   
  }
.heberg_cote1 {
    margin-right: 5px;
  }

.plus_pop
  {
    margin-right: 15px;
  }

  /*hebergements*/
.conteneur_1 {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

.conteneur 
  {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }  
.tarifpop 
  {
    font-size: 12px;
  }
.etoilespop {
    font-size: 9px;
  }
.lienhotel {   
    width: 100%;
    border: solid white;
    box-shadow:5px 5px 5px 5px #F2F2F2;
  }
.logo_hot {
    width: 96%;
  }

.nomhbgtpop
{
    font-size: 21px;
}
}